/* page */
#wrapper{
	display:flex;
	height:100vh;
}
#page{
	overflow-x:scroll;
	position:relative;
	flex:1;
}

/* lodr */
.lodr-startup{
	font-weight:bold;
	color:white;
	font-size:20px;
}

/* header */
div.heading{
	position:relative;
	background-color:var(--primary-color);
	padding-top:5px;
	padding-bottom:5px;
	border-width:5px;
	border-bottom:solid black;
}
#profile{
	transform:translateX(-50%);
	position:relative;
	left:50%;
}
