/* page */
#wrapper{
	display:flex;
	/*height:100vh;*/
	position:absolute;
	height:100%;
	width:100%;
	left:0;
	top:0;
}
#page{
	overflow-x:scroll;
	position:relative;
	flex:1;
}

/* lodr */
.lodr-startup{
	font-weight:bold;
	color:white;
	font-size:20px;
}

/* header */
div.heading{
	background-color:var(--primary-color);
	border-bottom:solid black;
	position:relative;
	border-width:5px;
	padding:5px 0px;
}
#profile{
	transform:translateX(-50%);
	position:relative;
	left:50%;
}
